.container {
  margin: 0 auto;
  padding: 0;
}
body {
  font-family: arial, sans-serif;
  font-size: 10px;
}

.weather-app {
  max-width: 600px;
  margin: 20px auto;
  padding: 40px 40px 10px 40px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.search-bar {
  padding: 0px;
}
.icon,
.temperature,
.weather-details,
.city-details {
  padding: 0;
}

.weather-details {
  padding-left: 5px;
}
.temperature {
  text-align: right;
}
.temp {
  font-size: 40px;
  font-weight: 500;
}
.unit {
  padding-top: 10px;
  display: inline-block;
  vertical-align: top;
}
#celcius,
#farenheit {
  text-decoration: none;
  color: rgb(112, 117, 122);
}
#icon {
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 10px 0 0 0;
  color: rgb(112, 117, 122);
  font-weight: 400;
  line-height: 12px;
}
.city-details {
  text-align: right;
}

h2 {
  color: rgb(32, 33, 36);
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 400;
}
.date-description {
  font-size: 12px;
  padding-top: 0px;
}
#date,
#description:first-letter {
  text-transform: capitalize;
}
small {
  font-size: 10px;
  display: block;
  margin: 30px auto;
  max-width: 600px;
}
